
.calculator{
    display:block;
    margin: auto;
    justify-content: center; 
    width: 400px; 
}

.enter{
    background: radial-gradient(rgb(170, 159, 159), #3e3b3b);
    display: flex;
    outline: 3px solid rgba(0, 0, 0, 0.658);
    width: 400px;
    height: 150px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2px;
}
  


.circle-red {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    margin-top: 5px;   
    
}

.circle-yellow {
    height: 20px;
    width: 20px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    margin-top: 5px;
}

.circle-green {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    margin-top: 5px;
}

.zero{
    display: flex;
    font-size: 60px;
    color:aliceblue;
    margin-left: 350px;
   
}

.line1{
    display: flex;
    align-items: center;
    justify-content: center;  

}

.value{
    display:flex;
    color:aliceblue;
    background-color: gray;
    outline: 3px solid rgba(0, 0, 0, 0.658);
    font-size:60px;
    flex: 1;
    margin:0;
    
    
}

.dabble{
    display:flex;
    color:aliceblue;
    background-color: gray;
    outline: 3px solid rgba(0, 0, 0, 0.658);
    font-size:60px;
    flex: 2;
    margin: 0;
}
.value1{
    display:flex;
    color:aliceblue;
    background-color: orange;
    outline: 3px solid rgba(0, 0, 0, 0.658);
    font-size:60px;
    flex: 1;
    margin:0;
    
    
}
.value2{
    display:flex;
    color: aliceblue;
    background:radial-gradient(rgb(170, 159, 159), #3e3b3b);
    outline: 3px solid rgba(0, 0, 0, 0.658);
    font-size:60px;
    flex: 1;
    margin:0;
    
    
}


